<!-- password_change_done.html -->
{% extends 'base_generic.html' %}
{% load static%}
{% block title %}Password Change Successful{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'matcher/css/password_change_done.css' %}">
<div class="password-change-success-container">
    <h2>Password Change Successful</h2>
    <p>Your password has been updated successfully. You can now use your new password to log in.</p>
    <div class="action-buttons">
        <a href="{% url 'login' %}" class="btn btn-primary">Return to Login Page</a>
    </div>
</div>
{% endblock %}
